section {
  border-style: solid;
  border-width: 1px;
  margin-top: 2px;
  padding: 10px;
}

h1 {
  font-size: 32px;
  line-height: 200%;
}

/* 기본 세팅 */
body {
  padding: 0;
  margin: 0;
}
section.A .outer { 
  width: 10em;
  height: 10em;
  background-color: yellowgreen;
}
section.A .inner { 
  background-color: green;   
  width: 5em;
  height: 5em;
  
}



section.A {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  
}

section.A > div {
  background-color: beige;
  border-style: solid;
  border-color: black;
  border-width: 1px
}

section.A > div.B .inner {
  width: 100px;
  height: 50px;
}

section.A > div.C .inner {
  width: 50%;
  height: 50%;
}

section.A > div.D .inner {
  width: 20vw;
  height: 10vh;
}

section.A > div.E .inner {
  width: 20vmin;
  height: 10vmin;
}



section.A > div.F .inner {
  width: calc(100% + 10px);
  height: calc(30vh - 100px);
}



section.margin_ .outer { 
  background-color: yellowgreen;
}
section.margin_ .inner { 
  color: white;
  background-color: green; 
  margin: 10px 4px;
  padding: 12px 48px;
}

section.border-style div {
  margin: 10px;
}

section.border-style .border-a{
  border-style: dotted;
  border-width: 2px;
}

section.border-style .border-b{
  border-style:dashed;
  border-width: 2px;
}

section.border-style .border-c{
  border-style: solid;
  border-width: 2px;
}

section.border-style .border-d{
  border-style: inset;
  border-width: 5px;
}

section.border-style .border-f{
  border: 10px solid rgb(255,0,0); 
}

section.border-style .border-g{
  border-top: 10px solid rgb(255,0,0); 
  border-left: 5px inset;
  border-right: 5px double rgb(0,0,255);
  border-bottom: 5px ridge;
}




section.border-ra{
  display: flex;
  
}

section.border-ra .border-a{
  border-top: 10px solid rgb(255,0,0); 
  border-left: 5px inset;
  border-radius: 50%;
  color: #333;
  width: 300px;
  height: 300px;
}

section.border-ra .border-b{
  border-top: 10px solid rgb(255,0,0); 
  border-left: 5px inset;
  border-radius: 50%;
  color: #333;
  width: 300px;
  height: 300px;

  border-radius: 10% 20% 30% 40%;
}

.section01{
  position: relative;
  width: 1fr;
  height: 1000px;
}

div .center{
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FFEEBC;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
}

.into {

  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FFEEBC;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
  transform: translate(-50%, -50%);
}

.section01_img {
  background-image: url("./sea.jpg");
  background-size: 100% ;
  width: 100%;
  height: 100%;
  opacity: 30%;
  
}




.lb-wrap {
  width: 50%;
  margin: 10px auto;
  border: 1px solid #000000;
  position: relative;
}
.lb-wrap img {
  width: 100%;
  vertical-align: middle;
}
.lb-text {
  padding: 10px 20px;
  border-radius: 10px;
  background-color: #FFEEBC;
  text-align: center;
  position: absolute;
  top: 50%;
  left: 50%;
  z-index: 1;
}

.lbs-image {
  width: 600px;
  height: 600px;
  background-size: 25% ;
  opacity: 30%;
  background-image: url("https://bit.ly/3i0iJcZ");
}
