h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
  line-height: 2rem;
}
h3 {
  font-size: 1.2em ;
}
html {
  padding: 16px;
}
p {
  line-height: 1.5em;
}

section {
  border: 2px solid #333;
  padding: 16px;
}
article {
  border: 1px dashed #000;
  padding: 16px;
  line-height: 1.5rem;
}

button {
  border: 1px #333 solid;
  border-radius: 4px;
  padding: 4px 16px;
  margin: 8px;
  font-weight: bold;
  
}

button:hover {
  background-color: #333;
  color:#fff;
}


div.Operator_table table {
  margin: auto;
  /* float 를 쓰는 건 잘못된 문법 float는 요소를 정렬하기 위한 문법이 아니다 */

}

div.Operator_table tr{
  border: #333 2px solid;
  
}

div.Operator_table tr td {
  border: #333 1px solid;
  text-align: center;
  /* 텍스트 가로축 가운데 정렬 */
  vertical-align: middle;
  /* 텍스트 가로축 가운데 정렬 */
  padding: 8px;
}

div.Operator_table tr td:first-child {
  background-color: #eee;
  font-weight: bold;
}
div.Operator_table tr:first-child{
  background-color: #eee;
  font-weight: bold;
}

div.Operator_table tr td[rowspan]{
  background-color: #ffeeee;
}

code {
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 1.2em;
  background-color: #eee;
  color: #ff3333;
  font-weight: bold;
  border: 1px #ddd solid;
}

code:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

