h1 {
  font-size: 2rem;
}
h2 {
  font-size: 1.6rem;
  line-height: 2rem;
}
h3 {
  font-size: 1.2em ;
}
html {
  padding: 16px;
}
p {
  line-height: 1.5em;
  z-index: 0;
}

a {
  
  background-color: #ff3333;
  padding: 0.1em 0.5em;
  border-radius: 0.2em;
  text-decoration: none;
  color: #fff;
  font-weight: bold;
  box-shadow: 1px 1px 4px #ff3333;
}

section {
  border: 2px solid #333;
  padding: 16px;
}
article {
  border: 1px dashed #000;
  padding: 16px;
  line-height: 1.5rem;
}

button {
  border: 1px #333 solid;
  border-radius: 4px;
  padding: 4px 16px;
  margin: 8px;
  font-weight: bold;
  
}

button:hover {
  background-color: #333;
  color:#fff;
}

code {
  padding: 0.2em;
  border-radius: 0.2em;
  font-size: 1.2em;
  background-color: #eee;
  color: #ff3333;
  font-weight: bold;
  border: 1px #ddd solid;
}

code:hover {
  box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.2);
}

li {
  padding-left: 1rem;
}
ul {
  padding-left: 1rem;
}

table {
  margin: 1rem;
}

td {
  text-align: center;
  width: 6rem;
  height: 2rem;
  border: 1px #000 solid;
  white-space: nowrap;
  padding: 0 0.5em;
  /*table 디스플레이에서만 사용됨*/
  vertical-align: middle;
}
td {
  text-align: center;
  width: 6rem;
  height: 2rem;
  border: 1px #000 solid;
  white-space: nowrap;
}

img{
  box-shadow: 1px 1px 10px rgba(0, 0, 0, 0.2);
  z-index: 10;
}

.section-01_img-01{
  width: 20vw;
  
  float: right;
  
}

.section-01_side {
  width: 20vw auto;
  float:right;
}

.section-01_img-01:hover{
  
  width: 92vw;
  float: right;
  
}
