p{
  margin: 4px;
  padding-left: 30px;
}
p#mark_test{
  color: black;
}


div p {
  color: rgb(255, 53, 53);
}

  
div{
  border-width: 1px;
  border-style: dashed;
  margin: 10px;
  padding: 10px;
}

section{
  border-width: 2px;
  border-style: solid;
  margin: 10px;
  padding: 10px;
}
pre{
  
  padding: 10px;
  padding-top: 20px;
  margin-right: 300px;
  background-color: rgb(237, 241, 194);
  border-radius: 10px;

  /*박스에 테두리 긋기*/
  border-style: solid;
  border-width: 1px;
  border-color: rgb(124, 91, 51);

  
  
  
}
code{
  
  padding: 5px;
  color: brown;
  background-color: rgb(241, 241, 241);
  border-radius: 3px;
  
  
}
  
p:hover{
  background-color: blanchedalmond;
}

#mark_a{
  color: #dae6ff;
  background-color: black;
}
