body{
  background-color: black;
}

.header {
  background-color: #FF4500;
  display: grid;
  grid-template-columns: 24px 400px 1fr 84px 24px;
  grid-template-areas: 
  'left-space title nav account right-space';

  position: fixed;
  width: 100vw;
  height: 64px;
  line-height: 64px;
  box-shadow: 0 0 6px rgba(0, 0, 0, 0.5);
  color: #fff;

}

.title {
  grid-area: title;
  font-weight: bold;
  font-size: 2em;
  
}

.account {
  grid-area: account;
  font-weight: bold;
  font-size: 1.25em;
}

header nav {
  grid-area: nav;
}

header nav li a {
  font-size: 1.25em;
  color: #fff;
  text-decoration: none;
}

header nav li {
  display: inline-block;
  margin: 0px 16px;
  /* a 태그는 텍스트 태그라 display 속성이 들어가기 힘듬 
  그리고 li로 묶여있기 때문에 a에 display가 적용됬다고 한들 원하는 동작을 하지 않았을 거임 */
}