:root {
  --side-menu-width : 260px;
}
* {
    box-sizing: border-box;
  }
  html {
    font-size: 16px;
  }

  main {
    min-height: calc(100vh);
    display: grid;
    grid-template-columns: 1fr 7fr;
  }
  
li {
  list-style-type: none;
}
  
  
  /* utils */
  
  button {
    cursor: pointer;
  }
  
  /* header */
  .header {
    position: fixed;
    width: 100%;
    display: flex;
    align-items: center;
    
    justify-content: space-between;
    flex-direction: row;
    height: 60px;
    z-index: 1000;
    background-color: #fff;
    opacity: 0.9;
  }
  
  .header__left {
    display: flex;
    
    align-items: center;
  }

  .header__sidebutton{
    margin: 0em 1.5em;
  }

  .header__logo-icon {
    display: flex;
    width: 110px;
  }

  .header__lang {
    display: flex;
    font-size: 8px;
    font-weight: bold;
    padding-left: 2px;
    margin-top: -4px ;
    color: #777;
  }
  
  .header__logo-link {
    text-decoration: none;
    color: #333;
  }
  
  
  
  .header__center {
    align-items: center;
    justify-content: center;
    display: flex;
  
    border-radius: 2px;
    margin-left: 60px;
    flex-wrap: nowrap;
    
    
  }
  
  .search-form {
    
    width: 100%;
    display: grid;
    grid-template-columns: 5fr 0 1fr;
    align-items: center;
    max-width: 640px;
    overflow:hidden;
    white-space:nowrap;
  }
  
  .search-form input {
    border: #ccc 1px solid;
    border-radius: 2px 0 0 2px;
    padding: 4px 12px;
    height: 40px;
    box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.1) ;
    font-size: 16px;
  }

  .header__input-keyboard{
    
    position: relative;
    left: -2em;
    opacity: 0.7;
  }
  .header__input-keyboard:hover {
    opacity: 1;
  }



  .search-form .search-link {
    border-width: 1px 1px 1px 0;
    border-color: #ccc;
    border-style: solid;
    border-radius: 0 2px 2px 0;
    padding: 4px 12px;
    width: 70px;
    height: 40px;
    background-color: #f8f8f8;
    opacity: 0.7;
  }
  
  .search-form .search-link:hover {
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
  }

  .search-form .search-mic {

    border: none;
    border-radius: 50%;
    
    width: 40px;
    height: 40px;
    background-color: #f8f8f8;
    
  }
  
  .search-form .search-mic:hover {
    background-color: #eee;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.1);
    
  }
  
  .header__right {
    display: grid;
    grid-template-columns:1fr 1fr 1fr;
    gap: 1.5em;
    padding-right: 2em;
    align-items: center;
    
    
  }
  button{
  background-color: rgba(0, 0, 0, 0);
  border: none;

}

/* section  */

section.section__header {
  position:fixed;
  display: flex;
  width: calc(100vw - var(--side-menu-width));
  
  align-items: center;
  justify-content: center;
  border-bottom: 1px solid #ddd;
  border-top: 1px solid #ddd;
  top:60px;
  right: 0;
  z-index: 1000;
  background-color: #fff;
  opacity: 0.9;
}


.filter-items {
  display: flex;
  align-items: center;
  gap: 12px;
  height: 56px;

}

.filter-item {
  height: 32px;
  min-width: 12px;
  padding: 0 10px;
  border-radius: 16px;
  overflow: hidden;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.05);
  display: flex;
  align-items: center;
  justify-content: center;
}

.filter-item--active {
  background-color: black;
  color: white;
}
  
  
  /* sidebar */
  .sidebar {
    width: 260px;
    padding-right: 20px;
    --control-bar-color: #fff;
  }

  .sidebar:hover {
    --control-bar-color: #555;
  }
  .sidebar__navbar{
    background-color: var(--control-bar-color);
    position: fixed;
    margin: 4px;
    left: 240px;
    top: 0px;
    width: 10px;
    height: 200px;
    border-radius: 10px;
    
  }
  
  .sidebar__nav-item {
    width: 100%;
    display: flex;
    align-items: center;
  }
  .sidebar__nav-item.on {
    background-color: #ddd;
  }
  
  .sidebar__nav-item:hover {
    background-color: #ddd;
  }
  
  .sidebar__nav-item button {
    display: flex;
    align-items: center;
    flex: 1;
    height: 48px;  
  }
  .sidebar__nav-item button span {
    margin-right: 4px;
  }
  
.home .primary{
  background-color: #eee;
  z-index: 0;
}
  
  .home #home {
    display: block;
  }
  
  .history #history {
    display: block;
  }
  
  #home {
    display: none;
  }
  
  #history {
    display: none;
  }
  
  #home h2, #history h2 {
    font-size: 20px;
    margin: 8px 0;
    padding-bottom: 20px;
  }

  
  /* home */
  .video-list {
    min-width: 600px;
    display: grid;
    grid-gap: 20px;
    grid-template-columns: repeat(4, 1fr);
    margin: 0;
    padding: 20px 0 60px 0;
  }
  
  .video-items {
    display: flex;
    flex-direction: column;
  }
  
  .video-item {
    cursor: pointer;
  }
  
  .video-item .thumbnail {
    max-width: 100%;
  }
  
  .video-item__details {
    display: flex;
    justify-self: space-between;
    padding: 16px 0;
  }
  
  .video-item__details .profile {
    border-radius: 50%;
    width: 36px;
    height: 36px;
    margin-right: 8px;
  }
  
  .video-item__meta .title {
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 8px;
  }
  
  .video-item__meta .author {
    font-size: 14px;
    margin-bottom: 4px;
  }
  
  .video-item__meta .stat {
    font-size: 14px;
  }
  
  .footer {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 60px;
  }
  
  .footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 0 60px;
    margin: 0 auto;
    min-width: 600px;
  }
  
  .footer__link {
    color: #333;
    text-decoration: none;
  }
  
  .footer__link:hover {
    text-decoration: underline;
  }


